@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  --primary: #0e88d8;
  --theme-blue: #0F88D9;
  --secondary: #eb9572;
  --text-dark: #454545;
  --smoke-white: #F5F5F5;
  --Montserrat: "Montserrat", sans-serif
}

* {
  font-family: var(--Montserrat);
}

a {
  text-decoration: none;
}

.project {
  text-transform: capitalize;
}

.mentor-details {
  text-align: left;
  width: 100%;
}
li {
  list-style: none;
}


@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }

  /* a:hover {
    color: #747bff;
  }

  button {
    background-color: #f9f9f9;
  } */
}