:root {
  --primary: #0e88d8;
  --secondary: #eb9572;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}


@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }

  a:hover {
    color: #747bff;
  }

  button {
    background-color: #f9f9f9;
  }
}